@use "../variables" as *;
@use "../mixins" as *;

.memory-collage {
    width: 100%;
    aspect-ratio: 500 / 580;
    @include flex-center;
    padding: 5%;

    .content {
        width: 100%;
        height: 100%;
        position: relative;
        perspective: 1000px;
        .box-imgs {
            position: absolute;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .box-imgs:nth-child(2) {
            max-width: 298px;
            width: 100%;
            aspect-ratio: 298 / 278;
            top: 5%;
            left: 0;
        }

        .box-imgs:nth-child(3) {
            max-width: 334px;
            width: 100%;
            aspect-ratio: 323 / 306;
            right: 0;
            bottom: 6%;
        }
        img.flower-collage {
            position: absolute;
        }

        img.flower-collage-1 {
            width: 247px;
            height: auto;
            top: -11%;
            right: 14%;
        }

        img.flower-collage-2 {
            width: 203px;
            height: auto;
            top: 28%;
            left: 2%;
        }

        img.flower-collage-3 {
            width: 111px;
            height: auto;
            top: -2%;
            right: 28%;
        }
    }

    @media (max-width: 500px) {
        .content {
            .box-imgs:nth-child(2) {
                max-width: calc((298 / 500) * 100vw);
            }
    
            .box-imgs:nth-child(3) {
                max-width: calc((323 / 500) * 100vw);
            }
    
            img.flower-collage-1 {
                width: calc((247 / 500) * 100vw);
            }
    
            img.flower-collage-2 {
                width: calc((203 / 500) * 100vw);
            }

            img.flower-collage-3 {
                width: calc((111 / 500) * 100vw);
            }
        }
    }
}