@use "../variables" as *;
@use "../mixins" as *;

.timeline {
    width: 100%;
    aspect-ratio: 500 / 585;
    // background: url('../../assets/images/base_bg.webp') repeat-y center top / 100% auto;

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: #000;
        font-family: $font-gotham;
    }
    
    .timeline-items {
        width: 100%;
        max-width: 488px;
        aspect-ratio: 488 / 520;
        background: url('../../assets/images/timeline_bg.png') no-repeat center / cover ;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 19%;
        .item {
            @include flex-center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 3%;
            .icon {
                max-width: 21px;
                width: 100%;
                margin-bottom: 1%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .text-box {
                p {
                    font-family: $font-gotham;
                    text-transform: uppercase;
                    margin-bottom: 3% ;
                    font-size: 9.8px;
                }
                p.time-and-title {
                    span {
                        font-family: $font-gothamBold;
                    }
                }
            }
        }

        .item:nth-child(3) {
            .icon {
                max-width: 27px;
            }
        }
    }

    @media (max-width: 500px) {
        .timeline-items {
            .item {
                .icon {
                    max-width: calc((21 / 500) * 100vw);
                }
                .text-box {
                    p {
                        font-size: calc((9.8 / 500) * 100vw);
                    }
                }
            }
    
            .item:nth-child(3) {
                .icon {
                    max-width: calc((27 / 500) * 100vw);
                }
            }
        }
    }
}