
@font-face {
    font-family: 'SVN-GothamBold';
    src: url('../../assets/fonts/SVN-GothamBold.woff2') format('woff2'),
        url('../fonts/SVN-GothamBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamLight';
    src: url('../../assets/fonts/SVN-Gotham Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamBook';
    src: url('../../assets/fonts/SVN-GothamBook.woff2') format('woff2'),
        url('../fonts/SVN-GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Hikary';
    src: url('../../assets/fonts/1FTV-Eastin-Hikary.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MTDPortrait';
    src: url('../../assets/fonts/MTD-Portrait-Script-Bounce.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
