$shadow-default: 0 10px 20px rgba(0, 0, 0, 0.281);
$radius: 14px;

// Colors
$title-color: #dba7b2ff;
$primary-color: #f09;
$secondary-color: #f8e9ee;
$bg-color: #fff;

// Font
$font-main: 'MTDPortrait', sans-serif;
$font-gotham: 'SVN-GothamBook', sans-serif;
$font-gothamBold: 'SVN-gothamBold', sans-serif;
$font-gothamLight: 'SVN-GothamLight', sans-serif;

// Animation
$duration-fast: 0.5s;
$duration-slow: 1.2s;
